<form class="form-inline ml-3" method="POST" action="{{path('search')}}">
    <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" name="r" placeholder="Rechercher" aria-label="Rechercher">
        <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
