{% extends './mail/template.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}
{% block title_content %} Mot de passe oublié {% endblock %}

{% block body %}
    <p> Vous avez demandé à récupérer votre mot de passe.</p>
    <p>
        Vous pouvez le faire en <a style="color:#57a7fe;"
                href="{{ url('password_recover', {'token': user.forgetToken}) }}">cliquant
            ici</a> ou en collant le lien suivant dans votre
        navigateur {{ url('password_recover', {'token': user.forgetToken}) }}
    </p>
{% endblock %}


