{% import "macros/widgets.html.twig" as widgets %}


<a href="{{ path('backpacks') }}" target="_self" class="list-group-item list-group-item-action hvr-float-shadow h-100">

	<div class="d-flex w-100 align-items-center">
		<div class="col-4  text-center">
			{{ widgets.icon('backpack', 'fa-5x ') }}
		</div>
		<div class="">
			<h5 class="mb-1 ">

				<strong>Porte-documents</strong>
			</h5>
			<p class="mb-1"></p>
				<small>Consulter l'ensemble des porte-documents</small>
		</div>
	</div>
</a>

