{% extends 'backpack/layout.html.twig' %}

{% block page_subtitle %}
	<small class="muted text-xs">Test</small>
{% endblock %}
{% block page_title %}{% endblock %}


{% block page_content %}

<a class="btn btn-p-dark" onclick="getBackpackData('{{item.id}}');">Générer</a>


    <div id="showdata"></div>
{% endblock %}

{%  block javascripts %}
{{ parent() }}
<script src="{{ absolute_url( asset('/vendor/axios/dist/axios.min.js')) }}"></script>
<script src="{{ absolute_url( asset('/js/es_widget.js')) }}"></script>
<script type="text/javascript">

function getBackpackData(id) {

var url = '/ajax/backpack/' + id;
let showData = $('#showdata');



axios.get(url).then(function (response) {
html(showData, response.data.value);
}).catch(function (error) {
console.log(error);
});
}
</script>

{% endblock %}
