{% macro messageEmailValidated(item) %}
	{% if item.emailvalidated == false %}
		<div class="alert alert-danger alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h5>
				<i class="icon fas fa-ban"></i>
				Adresse mail non vérifiée !</h5>
			<p>
				Attention votre adresse mail n'a pas encore été vérifiée.
			</p>
			<p>
				<a href="{{ path('profil_sendmail_email_validated') }}" class="text-primary">Cliquer ici</a>
				pour renvoyer le lien de vérification.
			</p>
		</div>
	{% endif %}
{% endmacro %}
