
{% embed 'widgets/card-widget.html.twig' %}
	{% block card_class %}flat
	{% endblock %}
	{% block card_body %} 

		<div class="form-group row m-2 js-createTip-wrapper">
			<p>{{ form_label(form.category) }}</p>
			{{ form_widget(form.category) }}

			<div class="createTip  mt-4">

				<div class="createTip__title">
					Type de document
				</div>
				<p>
					Choisir un libellé avec le terme "<b>validé</b>" pour que le porte document puisse être validé par le service contrôle
				</p>
                <div class="createTip__title">
                    Description
                </div>
                <div id="contentofdescription"></div>
			</div>
		</div>


	{% endblock %}

{% endembed %}
