{% set nbrL=item.backpackLinks | length %}
{% set nbrF=item.backpackFiles | length %}
{% if nbrL>0 or nbrF>0 %}
	{% import "macros/file.html.twig" as file %}
	<div class=" list-blk">
		<table class="table table-hover bg-white">
			<colgroup>
				<col class="col-lg-1">
				<col class="col-lg-8">
				<col class="col-lg-2">
				<col class="col-lg-1">
			</colgroup>
			<thead class="thead-default">
				<tr>
					<th class="bg-p-dark"></th>
					<th class="bg-p-dark text-p-light">
						Nom
					</th>
					<th class="hidden-xs text-center bg-p-dark text-p-light">
						Date
					</th>
					<th class="hidden-xs bg-p-dark text-p-light">
						Taille
					</th>
				</tr>
			</thead>
			<tbody>
				{{ file.showFiles(item.backpackFiles,item,'backpack_file_show') }}
				{{ file.showLinks(item.backpackLinks) }}
			</tbody>
		</table>
	</div>
{% endif %}
