.doc-image {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.doc-image img {
    max-width: 98%;
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
}