<h2 class="mb-5 text-p-dark">Pas d'autorisation de notification</h2>
<p>
    Si vous n'avez pas encore autorisé les notifications, vous ne recevrez pas de mail d'information pour vous prévenir des nouveautés sur RefDoc
</p>
<p>
    Sur la page d'accueil, vous aurez le bloc ci-dessous
</p>
<div class="doc-image mt-4 mb-4">
	<img src="{{ absolute_url( asset('doc/notification_3.png')) }}">
</div>
<p>
    En cliquant dessus, vous arriverez sur la page de profil et vous pourrez activer les notifications
</p>
<h2 class="mb-5 text-p-dark">Autorisation de notification</h2>
<p>
    Si vous avez ce bloc sur la page d'accueil, cela veut dire que vous avez autorisé l'envoi des notifications depuis RefDoc
</p>
<div class="doc-image mt-4 mb-4">
	<img src="{{ absolute_url( asset('doc/notification_4.png')) }}">
</div>