<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ app_name }} | {% block title %} {% endblock %} </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}

    {% endblock %}
    <!-- Font Awesome -->
</head>
<body class="hold-transition login-page">
<div class="login-box">

    {% block body %}

    {% endblock %}
</div>


</body>
</html>
