<div class="card card-primary card-outline ">
	<div class="card-body">
		<div class="row">
			<div class="col-5 col-sm-3">
				<div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="vert-tabs-1-tab" data-toggle="pill" href="#vert-tabs-1" role="tab" aria-controls="vert-tabs-1" aria-selected="true">
						Reclasser
					</a>
				</div>
			</div>
			<div class="col-7 col-sm-9">
				<div class="tab-content" id="vert-tabs-tabContent">
					<div class="tab-pane text-left fade active show" id="vert-tabs-1" role="tabpanel" aria-labelledby="vert-tabs-1-tab">
						<blockquote>
							Cette fonctionnalité accessible aux valideurs est indépendante de l'état d'un porte-document.
						</blockquote>
						<p>
							Le reclassement est l'action de modifier les niveaux 1, 2, 3, 4 et 5 pour construire l'arborescence de classement des porte-documents.
						</p>
						<p>
							Il y a deux façon d'accéder à cette fonctionnalité :
						</p>
						<p>
							Soit via l'affichage classique d'un porte-document
						</p>
						<div class="doc-image mt-4 mb-4">
							<img src="{{ absolute_url( asset('doc/classify_1.png')) }}">
						</div>
						<p>
							Soit depuis l'interface de consultation détaillé
						</p>
						<div class="doc-image mt-4 mb-4">
							<img src="{{ absolute_url( asset('doc/btn_classify.png')) }}">
						</div>
						<p>
							L'interface de modification est la même que pour la modification d'un porte-document.
						</p>
						<div class="doc-image mt-4 mb-4">
							<img src="{{ absolute_url( asset('doc/classify_2.png')) }}">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- /.card -->
</div>